language: 'ruby'
rvm: '2.2.1'
# before_script gets configures firefox for travi so that it works with selenium. yippee!
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script:
  - bundle exec bin/rake db:create
  - bundle exec bin/rake db:migrate
  - bundle exec rspec spec