<h1>Search for movies</h1>
<input id="enterMovie" placeholder="Enter a movie" type="text" size="40" onkeydown="acquireMovies()"/>
<div><button id="select-movie">Select Movie</button><span id="noResultsMsg">Movie not yet in database</span></div>