<input id="enterMovie" placeholder="Enter a movie" type="text" size="40" onkeydown="acquireMovies()"/>
<div><button id="select-movie">Select Movie</button><span class id="noResultsMsg">Movie not yet in database</span></div>