<h1>Search for movies</h1>
<header id="moviedestination">
<input id="enterMovie" placeholder="Enter a movie" type="text" size="40" onkeydown="acquireMovies()"/>
<button id="select-movie">Select Movie</button><span id="noResultsMsg">Movie not yet in database</span>
</header>
<div style="height:200px;">

</div>  
