/* line 4, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/dashboards.scss */
div.dashboard {
  margin: 0;
  background-color: #fafafb;
  padding-bottom: 10px;
  padding-left: 30px;
}
/* line 2, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage {
  margin: 2em 3em;
}
/* line 4, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #loclist {
  margin-left: 1em;
}
/* line 6, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #loclist ul {
  padding-left: 10px;
}
/* line 8, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #loclist ul li {
  list-style: none;
  padding: 12px 0;
}
/* line 12, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #loclist ul li a:hover {
  background: url(/assets/listitemarrow-62678e7caacae1a32307fb52136e8f5fc5eaa8a5c1373245ce0da27957a1e711.png) 0px -56px no-repeat;
  color: #fafafa;
}
/* line 17, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #loclist ul li a {
  width: 85%;
  display: inline-block;
  line-height: 24px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  background: url(/assets/listitemarrow-62678e7caacae1a32307fb52136e8f5fc5eaa8a5c1373245ce0da27957a1e711.pngv) 0px 4px no-repeat;
  padding-left: 30px;
  transition: all .05s ease;
}
/* line 31, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright {
  overflow: auto;
}
/* line 33, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright h2 {
  border-bottom: 1px dotted #777c82;
  padding-bottom: 20px;
  margin-top: 3em;
  margin-left: .5em;
  width: 96%;
}
/* line 40, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright h3 {
  padding-bottom: 10px;
  margin-top: 3em;
  margin-left: .5em;
  width: 96%;
}
/* line 46, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes {
  overflow: auto;
}
/* line 50, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes ul article div.box {
  margin-top: 20px;
  float: left;
  margin: 0;
  text-decoration: none;
  color: #506b80;
}
/* line 56, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes ul article div.box h3 {
  padding-bottom: 5px;
  margin-top: 1em;
  margin-left: .5em;
  width: 96%;
}
/* line 68, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes h3 {
  padding-bottom: 5px;
  margin-top: 2em;
  margin-left: .5em;
  width: 96%;
}
/* line 74, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes ul {
  list-style: none;
  overflow: auto;
}
/* line 77, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes ul li {
  margin: 0;
}
/* line 80, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes ul li li.photo img {
  width: 80%;
}
/* line 86, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes ul ul li.visit {
  padding: 0;
  margin: 0;
}
/* line 89, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes ul ul li.visit ul li.photo {
  list-style: none;
}
/* line 91, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes ul ul li.visit ul li.photo .visitorimage {
  width: 80%;
}
/* line 93, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes ul ul li.visit ul li.photo .visitorimage img {
  width: 100%;
}

/* line 104, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
h1 {
  padding-bottom: 1em;
  margin-left: .5em;
  width: 96%;
  border-bottom: 1px dotted #777c82;
  font-size: 26px;
  font-weight: normal;
  color: #1b1b1b;
}
/* line 112, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
h1 .colorb {
  color: #506b80;
}

/* line 118, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#destination {
  width: 60%;
  margin: 3em auto 2em;
  padding: 3em;
  border: 1px solid #838383;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15); */
  border-radius: 3px;
  background-color: #F2F2F2;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D9DBDD));
}
/* line 127, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#destination #enterDestination {
  height: 30px;
  padding: 5px;
  /* box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid #edeef0; */
  border-bottom-color: #C2C6CB;
  border-right-color: #AEB2B7;
  margin-right: 15px;
  font-size: 14px;
  color: #506b91;
  background-color: #f9f9f9;
}
/* line 140, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#destination #enterMovie {
  height: 30px;
  padding: 5px;
  /* box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid #edeef0; */
  border-bottom-color: #C2C6CB;
  border-right-color: #AEB2B7;
  margin-right: 15px;
  font-size: 14px;
  color: #506b91;
  background-color: #f9f9f9;
}
/* line 152, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#destination #confirm-marker {
  width: 100px;
  color: #333;
  vertical-align: middle;
  height: 36px;
  font-size: 13px;
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  border: 1px solid #777c82;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  /* font-weight: bold; */
  /* padding: 10px 20px; */
  text-align: center;
  border-radius: 3px;
}
/* line 169, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#destination button#submitDestination:hover {
  border: 1px solid #777c82;
  background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#AEBDC9));
  color: #333333;
  text-decoration: none;
}
/* line 178, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#destination button#submitDestination {
  width: 80px;
  color: #333;
  vertical-align: middle;
  height: 36px;
  font-size: 13px;
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  border: 1px solid #777c82;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  /* font-weight: bold; */
  /* padding: 10px 20px; */
  text-align: center;
  border-radius: 3px;
}
/* line 194, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#destination button#add-marker:hover {
  border: 1px solid #777c82;
  background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#AEBDC9));
  color: #333333;
  text-decoration: none;
}
/* line 202, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#destination button#add-marker {
  width: 120px;
  color: #333;
  vertical-align: middle;
  height: 36px;
  font-size: 13px;
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  border: 1px solid #777c82;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  /* font-weight: bold; */
  /* padding: 10px 20px; */
  text-align: center;
  border-radius: 3px;
}

/* line 220, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
.mapBox {
  width: 80%;
  margin: 0 auto;
  border-radius: 1px;
  border: 1px solid #A0A2A3;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

/* line 229, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#mapDestination {
  height: 500px;
}

/* line 235, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationProfile {
  width: 980px;
  margin: 0 auto;
  padding: 1em;
}
/* line 239, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationProfile img {
  width: 10%;
}
/* line 1, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/movies.scss */
#movieProfile {
  width: 980px;
  margin: 0 auto;
  padding: 1em;
}
/* line 5, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/movies.scss */
#movieProfile img {
  width: 10%;
}

/* line 10, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/movies.scss */
.mapDestination {
  width: 140px;
  height: 140px;
  border: 2px solid black;
}

/* line 16, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/movies.scss */
#scenes ul li ul li {
  margin-bottom: 0px;
  margin-left: 200px;
}

/* line 21, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/movies.scss */
#scenes ul li {
  margin-bottom: 50px;
}
/* line 1, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile {
  margin: 2em 3em;
}
/* line 3, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile h1 {
  padding-bottom: 1em;
  border-bottom: 1px dotted #777c82;
  font-size: 26px;
  font-weight: normal;
  color: #1b1b1b;
}
/* line 10, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile img {
  width: 10%;
  outline: none;
  border: none;
}
/* line 16, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile #visits ul.visits {
  list-style: none;
  margin-top: 2em;
}
/* line 19, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile #visits ul.visits li.pervisit {
  margin-bottom: 3em;
}
/* line 21, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile #visits ul.visits li.pervisit div.userleft {
  float: left;
  width: 50%;
}
/* line 25, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile #visits ul.visits li.pervisit div.userright {
  float: left;
  width: 20%;
}
/* line 29, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile #visits ul.visits li.pervisit div.movieposter {
  clear: both;
  padding-top: 25px;
}
/* line 35, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile #visits div.movieInfo {
  overflow: auto;
}

/* line 43, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
.mapDestination {
  width: 140px;
  height: 140px;
  border: 2px solid black;
}
/* line 5, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.clearfix:before, clearfix:after {
  content: '';
  display: table;
}

/* line 10, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
article, aside, footer, section, header, nav, figure {
  display: block;
  margin: 0;
  padding: 0;
}

/* line 17, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
a {
  color: #506b80;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* line 24, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
a span {
  font-size: 90%;
}
/* line 28, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
a img {
  outline: 0;
}

/* line 33, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
img {
  margin-bottom: 0;
}

/* line 37, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

/* line 46, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#welcomeFeatured {
  padding-top: 20px;
  /*background: url(/assets/sliderbg-d44c94c74cb710374cdb538330e4f135028345c9e836699aefc455ed6a087686.png) top center no-repeat;*/
  padding: 0 20px 0 20px;
  margin: 0 auto;
  width: 960px;
}
/* line 54, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#welcomeFeatured .welcomeSlider {
  overflow: hidden;
  zoom: 1;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid #777c82;
}
/* line 62, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#welcomeFeatured .welcomeSlider #slides {
  width: 960px;
  height: 459px;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  background-image: url(/assets/slider-4f53f0f5a1e359e5a77ce4899ce344644fb1815657dacbe44fbc4fd9927516fe.png);
  background-position: 0% 0%;
  margin: 0;
  padding: 0;
}
/* line 72, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#welcomeFeatured .welcomeSlider #slides article {
  display: block;
  margin: 0;
  padding: 0;
}
/* line 77, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#welcomeFeatured .welcomeSlider #slides .slider-title {
  width: 95%;
  padding: 15px 20px 10px 20px;
  background: #000;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  opacity: .8;
}
/* line 91, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#welcomeFeatured .welcomeSlider #slides #slider-arrows #prev-slider {
  position: absolute;
  top: 214.5px;
  left: 0;
  z-index: 11;
  line-height: 30px;
  opacity: .8;
  width: 40px;
  height: 40px;
}
/* line 102, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#welcomeFeatured .welcomeSlider #slides #slider-arrows .prev {
  background: url(/assets/arrows-5366d38cf990c7b2655ce9ba9921f567abee16f04f47986d8c268ee81d5d8315.png) -10px -15px no-repeat;
}
/* line 106, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#welcomeFeatured .welcomeSlider #slides #slider-arrows #next-slider {
  position: absolute;
  top: 214.5px;
  right: 0;
  z-index: 11;
  line-height: 30px;
  opacity: .8;
  width: 40px;
  height: 40px;
}
/* line 117, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#welcomeFeatured .welcomeSlider #slides #slider-arrows .next {
  background: url(/assets/arrows-5366d38cf990c7b2655ce9ba9921f567abee16f04f47986d8c268ee81d5d8315.png) -102px -15px no-repeat;
}
/* line 123, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#welcomeFeatured .welcomeSlider #slides a {
  text-decoration: none;
  outline: none;
  border: none;
}

/* line 132, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
aside#welcomeAside {
  margin-left: 3%;
  margin-right: 3%;
  padding-left: -5px;
  text-indent: 5px;
  margin-top: 20px;
  /*border-bottom: 1px dotted #777c82;*/
  padding-bottom: 20px;
}
/* line 140, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
aside#welcomeAside h2 {
  font-size: 24px;
  font-weight: normal;
  color: #777c82;
  margin-bottom: 0;
  padding-left: 5px;
  text-indent: -4px;
}
/* line 147, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
aside#welcomeAside h2 span {
  color: #333;
  font-weight: bold;
}
/* line 152, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
aside#welcomeAside .welcomeMessage {
  margin-top: 0px;
  line-height: 30px;
  padding-bottom: .3em;
  padding-top: .3em;
}

/* line 163, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent {
  width: 960px;
  margin-left: 30px;
  margin-right: 30px;
  overflow: auto;
}
/* line 164, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent h2 {
  border-bottom: 1px dotted #777c82;
  border-bottom: 1px dotted #777c82;
  margin-bottom: 30px;
  width: 96%;
  padding-bottom: 10px;
}
/* line 177, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent header.line {
  border-top: 1px dotted #777c82;
  margin-top: 2em;
}
/* line 182, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article {
  max-height: 368px;
}
/* line 185, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box:hover {
  background-color: #506b80;
  transition: all .3s ease;
}
/* line 187, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box:hover .likes {
  color: #e5e5e5;
}
/* line 189, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box:hover .likes i.fa.fa-user {
  color: white;
}
/* line 191, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box:hover .likes i.fa.fa-user a {
  color: white;
}
/* line 196, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box:hover .likes .likes_count {
  color: white;
}
/* line 199, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box:hover .likes .likes-link {
  color: #e5e5e5;
}
/* line 203, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box:hover p {
  color: #fff;
}
/* line 206, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box:hover h6 {
  color: #e5e5e5;
}
/* line 211, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box:hover figure {
  opacity: .9;
}
/* line 213, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box:hover figure img {
  border-radius: 3px;
  box-shadow: 1px -1px 12px rgba(255, 255, 255, 0.3);
}
/* line 220, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box {
  width: 230px;
  display: inline;
  float: left;
  position: relative;
  margin: 0;
  margin-bottom: 1px;
  margin-left: 1px;
  padding: 20px 20px 0 20px;
  min-height: 280px;
  text-decoration: none;
  background: #000;
  position: relative;
  color: #506b80;
}
/* line 235, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box figure img {
  border: 1px solid #333;
}
/* line 241, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box .likes {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
/* line 245, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box .likes i.fa.fa-user {
  color: #353434;
}
/* line 247, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box .likes i.fa.fa-user :hover {
  color: #fff;
}
/* line 250, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box .likes i.fa.fa-user a {
  color: #506b80;
  font-weight: bold;
}
/* line 253, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box .likes i.fa.fa-user a :hover {
  color: #fff;
}
/* line 262, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box h4 {
  font-size: 14px;
  height: 15px;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff;
}
/* line 270, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box h6 {
  height: 20px;
  overflow: hidden;
  margin: 10px 0 5px 0;
  line-height: 20px;
}
/* line 277, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent article div.box p {
  font-size: 12px;
  color: #777c82;
  text-decoration: none;
  line-height: 21px;
  height: 21px;
  overflow: hidden;
  margin: 0 0 15px 0;
}
/* line 291, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent h3.recent-title {
  color: #333;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 24px;
}
/* line 297, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent h3.recent-title a:hover {
  color: red;
  box-shadow: none;
}
/* line 302, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
.welcomeMainContent h3.recent-title a {
  text-transform: uppercase;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.05);
  /* background-color: transparent; */
  padding: 5px;
  border-radius: 3px;
}

/* line 313, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
aside.viewall {
  width: 90%;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  overflow: auto;
}
/* line 319, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
aside.viewall a.button:hover {
  border: 1px solid #777c82;
  background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#AEBDC9));
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}
/* line 329, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
aside.viewall a.button {
  padding: 10px;
  border: 1px solid #777c82;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  font-size: 11px;
  /* margin: -3px 0 0 0; */
  font-weight: bold;
  color: #333;
  border-radius: 3px;
  text-decoration: none;
  float: right;
}

/* line 344, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#myCarousel.carousel.slide {
  height: 500px;
}
/* line 348, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#myCarousel.carousel.slide div.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* line 352, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#myCarousel.carousel.slide div.carousel-inner div.item {
  height: 500px;
  background-color: #777;
}
/* line 355, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#myCarousel.carousel.slide div.carousel-inner div.item .container {
  width: 100%;
}
/* line 357, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#myCarousel.carousel.slide div.carousel-inner div.item .container .carousel-caption {
  right: 20%;
  left: 20%;
  padding-bottom: 30px;
  position: absolute;
  bottom: 20px;
  padding-top: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 135px;
  transition: all .5s ease-in-out;
}
/* line 374, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#myCarousel.carousel.slide div.carousel-inner div.item .container .carousel-caption h1 {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
}
/* line 381, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#myCarousel.carousel.slide div.carousel-inner div.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  line-height: 1;
}
/* line 392, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#myCarousel.carousel.slide a.left .carousel-control {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  filter: alpha(opacity=50);
  opacity: .5;
}
/* line 410, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#myCarousel.carousel.slide a.left .carousel-control span.glyphicon.glyphicon-chevron-left {
  margin-left: -15px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  font-size: 30px;
  left: 50%;
}
/* line 439, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/welcome.scss.erb */
#myCarousel.carousel.slide a.right.carousel-control span.glyphicon.glyphicon-chevron-right {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  font-size: 30px;
  right: 50%;
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */



body {
  /*background: #717679;*/
  background: url(/assets/page-bg-663f654479f6333dcb267196d4db494186813f486ac73a614716cdadadfd604b.jpg) repeat 6.1% top;
  margin: 0;
  padding:0;
  font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
  color:#000;
  line-height: 1;
}

.clearfix::after {
  clear: both;
  content: '';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}


 #wrapper {
   margin: 0;
   padding: 0;
   background: url(/assets/wrapper-bg-09a2b8780e2b6a0ee3b272e88b7b49216508e928fcd2c804be202bb38d8bbb84.png) center repeat-y;
   position: relative;
   width: 100%;
 }

 .stretch {
   position: absolute;
   top:0;
   left: 0;
   right: 0;
   bottom: 0;
 }

 #container {
   background: #d6d9dd url(/assets/container-bg-c217f8a49473bd28c66d2d2bd8238ed4454c666fd450ab4b98e18e582a1d66f3.png) 0 90px no-repeat;
   margin: 0 auto;
   width: 1012px;
   position: relative;

 }

#topnav {
  margin: 0;
  padding: 0;
  background:#333 url(/assets/header-898443367a776aa48adbd92e55290c9e36dd6bd75e02d024b9546b5a6ee654dc.png) no-repeat 0px 0px;
  border-bottom: 3px solid #333;
  width: 100%;
  min-height: 93px;
  max-height: 93px;
  /*margin-bottom: 1em;*/

}

#signInOut {
  position: absolute;
  right: 7.5%;
  top: 17px;
  line-height: 22px;
  text-align: center;
  padding: 8px;
  border: 1px solid #F8f8f8;
  box-shadow: 0px 0px 1px rgba(255,255,255,.8);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CCD0D6));
  font-size: 11px;
  /* margin: -3px 0 0 0; */
  font-weight: bold;
  color: #333;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s ease-in-out;

}

#signInOut:hover {
  border: 1px solid #FCFDFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#A4B6C4));
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}

nav {
  display: block;
  margin: 0;
  padding: 0;
  overflow: auto;
}

ul#navigation {
  text-transform: uppercase;

  width: 70%;
  margin-top: 1px;

  margin-bottom: 0;
  overflow: auto;
  padding: 0;

}

ul#navigation li {
  float:right;
  display: inline;
  margin: 0 0 0 1px;
  line-height: 21px;
  color: #fff;
}

ul#navigation li:hover {
  background-color:#506b80;
  height: 90px;
  transition: all .3s ease-in-out;
}

li:hover a span.subtitle {
  color: #d5d5d5;
}

ul#navigation li a {
  display: block;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  color:#bbb;
  font-size: 14px;
  font-weight: bold;

}

ul#navigation li a:hover {
  color:#fff;
  text-shadow: 1px .5px 0px rgba(0,0,0,.3);
}

.subtitle {
  font-weight: normal;
  font-size: 11px;
  color:#777c82;
  line-height: 16px;
  text-transform: none;
  text-shadow: none;
}

/*.foot {
  margin-left: auto;
  margin-right: auto;
  width: 1012px;
  display: block;
  margin-top: 1em;
}

.footer {

  color: #44484e;
  padding: 20px 30px;
  margin: 0;
  background: #d6d9dd;
}

.footer p {
  font-size: 11px;
  border-top: 1px dotted #777c82;
  padding: 30px 0;
  margin-bottom: 20px;
  line-height: 21px;
}*/


#mfooter {
  margin-top: 5em;
  width: 100%;
  background: #101010;
  /* border-top: 1px solid #fff; */
  overflow: auto;
  box-shadow: 0px -1px 0px rgba(255,255,255,.90);
}

#fwrap {
  width: 960px;
  margin: 0 auto;
  padding-left: .4em;
}

.column {
  float:left;
  border-right: 1px solid #fff;
  width: 24.2%;
  height: 150px;
}

.column #firstimg {
  float: right;
  margin-right: 15px;
}

.column img {
    padding: 2em .3em;
}

.stayconnected {
  padding: 2em 1em;
  position: relative;
}

.column p {
  color:#fff;
  text-align: center;
  padding-bottom: .5em;
}

p {
  color:#4c4c4c;
  font-size: 1em;
  font-weight: normal;
  text-align: left;
}

p.con {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  margin-top: .1em;
  font-size: 14px;
}


.stayconnected li a.footfacebook {
  background: url('socialsprite.png') no-repeat 0 0;
  left:40px;
  top: 65px;
  transition: ease-in-out;
}

.stayconnected li a.footfacebook:hover {
  background: url('socialsprite.png') no-repeat 0 -40px;
  left:40px;
  top: 65px;
  transition: ease-in-out;
}



.stayconnected ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.stayconnected li a.foottwitter {
  background: url(/assets/socialsprite-792770bf6d888d29871a55cf535209edf61f92657da996ce47b3f9fe7a5d301a.png) no-repeat -40px 0;
  left:95px;
  top: 65px;
  transition: ease-in-out;
}

.stayconnected li a.foottwitter:hover {
  background: url(/assets/socialsprite-792770bf6d888d29871a55cf535209edf61f92657da996ce47b3f9fe7a5d301a.png) no-repeat -40px -40px;
  left:95px;
  top: 65px;
  transition: ease-in-out;
}

.stayconnected li a {
  position: absolute;
  width: 40px;
  height: 40px;
}


.stayconnected li a.footyoutube {
  background: url(/assets/socialsprite-792770bf6d888d29871a55cf535209edf61f92657da996ce47b3f9fe7a5d301a.png) no-repeat -80px 0;
  left:150px;
  top: 65px;
  transition: ease-in-out;
}

.stayconnected li a.footyoutube:hover {
  background: url(/assets/socialsprite-792770bf6d888d29871a55cf535209edf61f92657da996ce47b3f9fe7a5d301a.png) no-repeat -80px -40px;
  left:150px;
  top: 65px;
  transition: ease-in-out;
}


address {
  color:#fff;
  text-align: center;
  font-size: 14px;
}

.column:last-child {
  border: none;
}

.mainlock {
  margin-top: 2em;
  margin-right: .5em;
  float: left;
  border: 1px solid #fff;
  padding: .5em 2.5em;
  line-height: 1em;
  width: 55%;
  transition: background-color .5s ease;
  margin-left: 20px;
  padding-bottom: .2em;
}

/*.lock {
  height: 17px;
  width: 15px;
  background: url(inbox.png) no-repeat 0px 0px;
  display: inline-block;
}*/

.mainlock p {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 5px;
  padding-top: 8px;
  padding-left: 5px;
}


.minfooter {
  width: 100%;
  display: block;
  line-height: 30px;
  border-top: 1px solid #fff;
}

.minifooter {
  width: 920px;
  display: block;
  margin: 0 auto;
  padding-left: .2em;
  vertical-align: middle;
  height: 30px;
}

.minifooter p {
  margin: 0;
  font-size: 12px;
}

.minfoo {
  overflow: hidden;
  margin: 0 auto;
  width: 960px;
}

.minfoo p {
  float: left;
  vertical-align: middle;
  color: #fff;
}


.ms {
    float: right;
    vertical-align: middle;
    color: #fff;
    font-size: 12px;
}













/* transitions */

h3 a,#navigation li a, signInOut  {
  transition: all .3s, background-color 200ms ease;
  transition: all .3s, background-color 200ms ease;
  -moz-transition: all .3s, background-color 200ms ease;
  -webkit-transition: all .3s, background-color 200ms ease;
  -o-transition: all .3s, background-color 200ms ease;
}


header,#topnav, article a, #main, .menu, nav, a, img,#welcomeFeatured,#welcomeAside,
 welcomeMainContent, mfooter,.box, figure,.button {
  transition: all .3s, background-color 200ms ease;
  transition: all .3s, background-color 200ms ease;
  -moz-transition: all .3s, background-color 200ms ease;
  -webkit-transition: all .3s, background-color 200ms ease;
  -o-transition: all .3s, background-color 200ms ease;
}
