/* line 2, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage {
  margin: 2em 3em;
}
/* line 4, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage #loclist {
  margin-left: 1em;
}
/* line 6, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage #loclist ul {
  padding-left: 10px;
}
/* line 8, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage #loclist ul li {
  list-style: none;
  padding: 12px 0;
}
/* line 12, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage #loclist ul li a:hover {
  background: url(listitemarrow.png) 0px -56px no-repeat;
  color: #fafafa;
}
/* line 17, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage #loclist ul li a {
  width: 85%;
  display: inline-block;
  line-height: 24px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  background: url(listitemarrow.png) 0px 4px no-repeat;
  padding-left: 30px;
  transition: all .05s ease;
}
/* line 31, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage #sideright {
  overflow: auto;
}
/* line 33, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage #sideright h2 {
  border-bottom: 1px dotted #777c82;
  padding-bottom: 20px;
  margin-top: 3em;
  margin-left: .5em;
  width: 96%;
}
/* line 40, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage #sideright h3 {
  padding-bottom: 10px;
  margin-top: 3em;
  margin-left: .5em;
  width: 96%;
}
/* line 46, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage #sideright #scenes {
  overflow: auto;
}
/* line 50, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage #sideright #scenes ul article div.box {
  margin-top: 20px;
  float: left;
  margin: 0;
  text-decoration: none;
  color: #506b80;
}
/* line 56, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage #sideright #scenes ul article div.box h3 {
  padding-bottom: 5px;
  margin-top: 1em;
  margin-left: .5em;
  width: 96%;
}
/* line 68, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage #sideright #scenes h3 {
  padding-bottom: 5px;
  margin-top: 2em;
  margin-left: .5em;
  width: 96%;
}
/* line 74, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage #sideright #scenes ul {
  list-style: none;
  overflow: auto;
}
/* line 77, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage #sideright #scenes ul li {
  margin: 0;
}
/* line 80, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage #sideright #scenes ul li li.photo img {
  width: 80%;
}
/* line 86, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage #sideright #scenes ul ul li.visit {
  padding: 0;
  margin: 0;
}
/* line 89, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage #sideright #scenes ul ul li.visit ul li.photo {
  list-style: none;
}
/* line 91, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage #sideright #scenes ul ul li.visit ul li.photo .visitorimage {
  width: 80%;
}
/* line 93, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationPage #sideright #scenes ul ul li.visit ul li.photo .visitorimage img {
  width: 100%;
}

/* line 104, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
h1 {
  padding-bottom: 1em;
  margin-left: .5em;
  width: 96%;
  border-bottom: 1px dotted #777c82;
  font-size: 26px;
  font-weight: normal;
  color: #1b1b1b;
}
/* line 112, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
h1 .colorb {
  color: #506b80;
}

/* line 118, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#destination {
  width: 60%;
  margin: 3em auto 2em;
  padding: 3em;
  border: 1px solid #838383;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15); */
  border-radius: 3px;
  background-color: #F2F2F2;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D9DBDD));
}
/* line 127, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#destination #enterDestination {
  height: 30px;
  padding: 5px;
  /* box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid #edeef0; */
  border-bottom-color: #C2C6CB;
  border-right-color: #AEB2B7;
  margin-right: 15px;
  font-size: 14px;
  color: #506b91;
  background-color: #f9f9f9;
}
/* line 140, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#destination #enterMovie {
  height: 30px;
  padding: 5px;
  /* box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid #edeef0; */
  border-bottom-color: #C2C6CB;
  border-right-color: #AEB2B7;
  margin-right: 15px;
  font-size: 14px;
  color: #506b91;
  background-color: #f9f9f9;
}
/* line 152, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#destination #confirm-marker {
  width: 100px;
  color: #333;
  vertical-align: middle;
  height: 36px;
  font-size: 13px;
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  border: 1px solid #777c82;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  /* font-weight: bold; */
  /* padding: 10px 20px; */
  text-align: center;
  border-radius: 3px;
}
/* line 169, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#destination button#submitDestination:hover {
  border: 1px solid #777c82;
  background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#AEBDC9));
  color: #333333;
  text-decoration: none;
}
/* line 178, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#destination button#submitDestination {
  width: 80px;
  color: #333;
  vertical-align: middle;
  height: 36px;
  font-size: 13px;
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  border: 1px solid #777c82;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  /* font-weight: bold; */
  /* padding: 10px 20px; */
  text-align: center;
  border-radius: 3px;
}
/* line 194, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#destination button#add-marker:hover {
  border: 1px solid #777c82;
  background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#AEBDC9));
  color: #333333;
  text-decoration: none;
}
/* line 202, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#destination button#add-marker {
  width: 120px;
  color: #333;
  vertical-align: middle;
  height: 36px;
  font-size: 13px;
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  border: 1px solid #777c82;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  /* font-weight: bold; */
  /* padding: 10px 20px; */
  text-align: center;
  border-radius: 3px;
}

/* line 220, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
.mapBox {
  width: 80%;
  margin: 0 auto;
  border-radius: 1px;
  border: 1px solid #A0A2A3;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

/* line 229, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#mapDestination {
  height: 500px;
}

/* line 235, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationProfile {
  width: 980px;
  margin: 0 auto;
  padding: 1em;
}
/* line 239, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss */
#locationProfile img {
  width: 10%;
}
