/* line 2, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage {
  margin: 2em 3em;
}
/* line 4, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #loclist {
  margin-left: 1em;
}
/* line 6, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #loclist ul {
  padding-left: 10px;
}
/* line 8, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #loclist ul li {
  list-style: none;
  padding: 12px 0;
}
/* line 12, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #loclist ul li a:hover {
  background: url(/assets/listitemarrow-62678e7caacae1a32307fb52136e8f5fc5eaa8a5c1373245ce0da27957a1e711.png) 0px -56px no-repeat;
  color: #fafafa;
}
/* line 17, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #loclist ul li a {
  width: 85%;
  display: inline-block;
  line-height: 24px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  background: url(/assets/listitemarrow-62678e7caacae1a32307fb52136e8f5fc5eaa8a5c1373245ce0da27957a1e711.pngv) 0px 4px no-repeat;
  padding-left: 30px;
  transition: all .05s ease;
}
/* line 31, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright {
  overflow: auto;
}
/* line 33, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright h2 {
  border-bottom: 1px dotted #777c82;
  padding-bottom: 20px;
  margin-top: 3em;
  margin-left: .5em;
  width: 96%;
}
/* line 40, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright h3 {
  padding-bottom: 10px;
  margin-top: 3em;
  margin-left: .5em;
  width: 96%;
}
/* line 46, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes {
  overflow: auto;
}
/* line 50, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes ul article div.box {
  margin-top: 20px;
  float: left;
  margin: 0;
  text-decoration: none;
  color: #506b80;
}
/* line 56, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes ul article div.box h3 {
  padding-bottom: 5px;
  margin-top: 1em;
  margin-left: .5em;
  width: 96%;
}
/* line 68, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes h3 {
  padding-bottom: 5px;
  margin-top: 2em;
  margin-left: .5em;
  width: 96%;
}
/* line 74, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes ul {
  list-style: none;
  overflow: auto;
}
/* line 77, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes ul li {
  margin: 0;
}
/* line 80, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes ul li li.photo img {
  width: 80%;
}
/* line 86, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes ul ul li.visit {
  padding: 0;
  margin: 0;
}
/* line 89, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes ul ul li.visit ul li.photo {
  list-style: none;
}
/* line 91, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes ul ul li.visit ul li.photo .visitorimage {
  width: 80%;
}
/* line 93, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationPage #sideright #scenes ul ul li.visit ul li.photo .visitorimage img {
  width: 100%;
}

/* line 104, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
h1 {
  padding-bottom: 1em;
  margin-left: .5em;
  width: 96%;
  border-bottom: 1px dotted #777c82;
  font-size: 26px;
  font-weight: normal;
  color: #1b1b1b;
}
/* line 112, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
h1 .colorb {
  color: #506b80;
}

/* line 118, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#destination {
  width: 60%;
  margin: 3em auto 2em;
  padding: 3em;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15); */
  border-radius: 20px;
  background-color: white;
}
/* line 125, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#destination #enterDestination {
  height: 30px;
  padding: 5px;
  /* box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid #edeef0; */
  border-bottom-color: #C2C6CB;
  border-right-color: #AEB2B7;
  margin-right: 15px;
  font-size: 14px;
  color: #506b91;
  background-color: #f9f9f9;
}
/* line 138, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#destination #enterMovie {
  height: 30px;
  padding: 5px;
  /* box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid #edeef0; */
  border-bottom-color: #C2C6CB;
  border-right-color: #AEB2B7;
  margin-right: 15px;
  font-size: 14px;
  color: #506b91;
  background-color: #f9f9f9;
}
/* line 150, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#destination #confirm-marker {
  width: 100px;
  color: white;
  vertical-align: middle;
  height: 36px;
  font-size: 13px;
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  background-color: #1C609C;
  /* font-weight: bold; */
  /* padding: 10px 20px; */
  text-align: center;
  border-radius: 3px;
}
/* line 166, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#destination button#submitDestination:hover {
  background-color: #4377A5;
  text-decoration: none;
  color: black;
}
/* line 173, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#destination button#submitDestination {
  width: 80px;
  color: white;
  vertical-align: middle;
  height: 36px;
  font-size: 13px;
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  border: 1px solid #777c82;
  background-color: #1C609C;
  /* font-weight: bold; */
  /* padding: 10px 20px; */
  text-align: center;
  border-radius: 3px;
}
/* line 189, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#destination button#add-marker:hover {
  border: 1px solid #777c82;
  background-color: #4377A5;
  text-decoration: none;
  color: black;
}
/* line 196, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#destination button#add-marker {
  width: 120px;
  color: white;
  vertical-align: middle;
  height: 36px;
  font-size: 13px;
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  border: 1px solid #777c82;
  background-color: #1C609C;
  /* font-weight: bold; */
  /* padding: 10px 20px; */
  text-align: center;
  border-radius: 3px;
}

/* line 214, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
.mapBox {
  width: 80%;
  margin: 0 auto;
}

/* line 219, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#mapDestination {
  height: 500px;
  border-radius: 20px;
}

/* line 226, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationProfile {
  float: center;
  text-align: center;
  margin: 0;
  background-color: #E0F2F7;
  border-radius: 20px;
  padding-bottom: 50px;
  margin-bottom: 0px;
  padding-top: 10px;
  margin-top: 10px;
  font-family: 'Julius Sans One', sans-serif;
}
/* line 238, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationProfile .title {
  text-align: left;
}
/* line 242, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationProfile .scene {
  background-color: white;
  border-radius: 20px;
  margin-top: 50px;
  overflow: auto;
  margin-right: 20px;
  padding-top: 10px;
}
/* line 251, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationProfile .moviePosterBox {
  float: left;
  margin-left: 10px;
}
/* line 255, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationProfile .moviePosterBox :first-child {
  width: 200px;
  border-radius: 20px;
}
/* line 260, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationProfile .visit {
  width: 100px;
}
/* line 263, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationProfile .visit :first-child {
  border-radius: 100%;
}
/* line 267, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationProfile .visit .comments {
  width: 90%;
  height: 250px;
  margin: 0;
  float: left;
  margin-top: 10px;
  margin-right: 20px;
  text-align: left;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 10px;
}
/* line 282, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/locations.scss.erb */
#locationProfile .photo :first-child {
  height: 100px;
  border-radius: 20px;
}
