/* line 5, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/scenes.scss */
h1 {
  margin-left: 30px;
  margin-top: 1em;
  width: 91%;
}

/* line 12, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/scenes.scss */
#enterDBLocation {
  height: 30px;
  padding: 5px;
  /* box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid #edeef0; */
  border-bottom-color: #C2C6CB;
  border-right-color: #AEB2B7;
  margin-right: 15px;
  font-size: 14px;
  color: #506b91;
  background-color: #f9f9f9;
}

/* line 28, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/scenes.scss */
div #selectDBLocation {
  width: 120px;
  color: #333;
  vertical-align: middle;
  height: 36px;
  font-size: 13px;
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  border: 1px solid #777c82;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  /* font-weight: bold; */
  /* padding: 10px 20px; */
  text-align: center;
  border-radius: 3px;
}
