/* line 1, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile {
  margin: 2em 3em;
}
/* line 3, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile h1 {
  padding-bottom: 1em;
  border-bottom: 1px dotted #777c82;
  font-size: 26px;
  font-weight: normal;
  color: #1b1b1b;
}
/* line 10, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile img {
  width: 10%;
  outline: none;
  border: none;
}
/* line 16, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile #visits ul.visits {
  list-style: none;
  margin-top: 2em;
}
/* line 19, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile #visits ul.visits li.pervisit {
  margin-bottom: 3em;
}
/* line 21, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile #visits ul.visits li.pervisit div.userleft {
  float: left;
  width: 50%;
}
/* line 25, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile #visits ul.visits li.pervisit div.userright {
  float: left;
  width: 20%;
}
/* line 29, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile #visits ul.visits li.pervisit div.movieposter {
  clear: both;
  padding-top: 25px;
}
/* line 35, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile #visits div.movieInfo {
  overflow: auto;
}

/* line 43, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
.mapDestination {
  width: 140px;
  height: 140px;
  border: 2px solid black;
}
