/* line 1, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile {
  float: center;
  text-align: center;
  margin: 0;
  background-color: #E0F2F7;
  border-radius: 20px;
  padding-bottom: 50px;
  margin-bottom: 0px;
  padding-top: 10px;
  margin-top: 10px;
  font-family: 'Julius Sans One', sans-serif;
}
/* line 13, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile img {
  outline: none;
  border: none;
  width: 200px;
  border-radius: 20px;
}
/* line 20, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile h1 {
  padding-bottom: 1em;
  border-bottom: 1px dotted #777c82;
  font-size: 40px;
  font-weight: normal;
  color: #1b1b1b;
}
/* line 27, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile h2 {
  font-size: 30px;
}
/* line 30, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile #user_img {
  width: 200px;
  border-radius: 100%;
}
/* line 34, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile #user_img_commenter {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
/* line 39, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile #mapBox {
  width: 200px;
  border-radius: 20px;
  margin-bottom: 20px;
}
/* line 44, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile .scene_img {
  width: 200px;
  position: relative;
  bottom: 15px;
}
/* line 49, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile .visit {
  background-color: white;
  border-radius: 20px;
  margin-top: 50px;
  overflow: auto;
  margin-right: 20px;
  padding-top: 10px;
}
/* line 57, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile .photo-like-comment {
  float: right;
  height: 250px;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 10px;
  background-color: white;
  text-align: center;
}
/* line 69, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile .comments {
  width: 90%;
  height: 250px;
  margin: 0;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  text-align: left;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 10px;
}
/* line 81, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile .photo {
  float: right;
  width: 70%;
  margin-top: 25px;
  background-color: white;
  margin-bottom: 10px;
}
/* line 88, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile .maps-and-pictures {
  float: left;
  width: 30%;
  margin-top: 40px;
}
/* line 93, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile .movie_img {
  margin-left: 10px;
  width: 40px;
}
/* line 99, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile .likes_count {
  padding-top: 200px;
}
/* line 104, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile .user_scene_photo {
  max-width: 200px;
  max-height: 200px;
}
/* line 108, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile .movie_title {
  font-size: 30px;
}
/* line 111, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile .visits {
  margin: 0 auto;
}
/* line 114, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
#userProfile p {
  width: 100px;
  margin: 0px;
}

/* line 124, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/users.scss */
.mapDestination {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
