/* line 7, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/visits.scss */
.col-md-4 #movie_img img {
  height: 250px;
  border-radius: 20px;
}
/* line 12, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/visits.scss */
.col-md-4 #preview {
  padding-left: 40px;
  padding-top: 7em;
}
/* line 15, /Users/darylwatson/Desktop/projects/Movie-Snaps/app/assets/stylesheets/visits.scss */
.col-md-4 #preview img {
  width: 300px;
  border-radius: 20px;
  position: relative;
  right: 40px;
}
