<h3>Was it one of these films?</h3>
<br>
<% @scenes.each do |scene| %>
  <li><%= link_to scene.movie.name, new_location_scene_visit_path(@location, scene) %></li>
  <br>
<% end %>
If not <%= link_to "click here", new_location_scene_path(@location) %> to add a new movie