Add a scene here for <div id='location'><%= @location.address %></div>

<input id="enterMovie" placeholder="Enter a movie" type="text" size="40" onkeydown="acquireMovies()"/>
<input id='btnSubmit' type='submit' value='Add movie' onclick='addMovie()'>
