Add your scene for <div id='location'><%= @scene %></div>

<%= simple_form_for @scene, html: {multipart: true} do |f| %>
  <%= f.input :image_file_name, label: 'Upload image' %>
  <%= f.button :submit %>
<% end %>
