<h1>Search for users</h1>


<header id="userdestination">
<input id="enterUser" placeholder="Enter a user name" type="text" size="40" onkeydown="acquireUsers()"/>
<button id="select-user">Select User</button><span id="noResultsMsg">User not in database</span>
</header>
<div style="height:200px;">

</div>
