<input id="enterUser" placeholder="Enter a user name" type="text" size="40" onkeydown="acquireUsers()"/>
<div><button id="select-user">Select User</button><span class id="noResultsMsg">User not in database</span></div>