#destination {
  width: 45%;
  margin: 3em auto 2em;
  padding: 3em;
  border: 1px solid #000;
}

.mapBox {
    float: left;
    margin-left: 50px;
    text-align: center;
}

#mapDestination {
    width: 900px;
    height: 500px;
    border: 2px solid black;
}

#locationProfile {
  width: 980px;
  margin: 0 auto;
  padding: 1em;
  img {
    width: 10%;
  }
}

#mapDestination {
    width: 900px;
    height: 500px;
    border: 2px solid black;
}
