#userProfile {
  margin: 2em 3em;
  h1 {
    padding-bottom: 1em;
    border-bottom: 1px dotted #777c82;
    font-size: 26px;
    font-weight: normal;
    color: #1b1b1b;
  }
  img {
    width: 10%;
    outline: none;
    border: none;
  }
  #visits {
    ul.visits {
      list-style: none;
      margin-top: 2em;
      li.pervisit {
        margin-bottom: 3em;
        div.userleft {
          float:left;
          width: 50%;
        }//div.userleft
        div.userright {
          float:left;
          width: 20%;
        }//div.userright
        div.movieposter {
          clear:both;
          padding-top: 25px;
        }//div.movieposter
      }//li.pervisit
    }//ul.visits
    div.movieInfo {
      overflow: auto;
    }//div.movieInfo
  }//div#visits

}//userProfile


.mapDestination {
    width: 140px;
    height: 140px;
    border: 2px solid black;
}
