// Place all the styles related to the visits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-4 {
    #movie_img {
      img {
        height:250px;
      }
    }
  #preview {
    padding-left:40px;
    padding-top:7em;
      img {
        width:75%;
        border-radius:50%;
      }//img
  }//preview
}//col4