// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix:before,clearfix:after {
	content:'';
	display:table;
}

article, aside,footer,section,header,nav,figure {
  display: block;

  margin: 0;
  padding: 0;
}

a {
  color:#506b80;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  span {
    font-size: 90%;
  }

  img {
    outline: 0;
  }
}

img {
  margin-bottom: 0;
}

.clearfix:after{
	clear:both;
	content:".";
	display:block;
	height:0;
	line-height:0;
	visibility: hidden;
}

#welcomeFeatured {

  padding-top: 20px;
  /*background: url(sliderbg.png) top center no-repeat;*/
  padding: 0 20px 0 20px;
  margin: 0 auto;
  width: 960px;

  .welcomeSlider {
      overflow: hidden;
      zoom:1;
      position: relative;
      z-index: 1;
      margin: 0 auto;
      width: 100%;
      border-bottom: 1px solid #777c82;
        #slides {
            width: 960px;
            height: 459px;
            max-width:100%;
            max-height:100%;
            position: relative;
            background-image:url(slider.png);
            background-position: 0% 0%;
            margin: 0;
            padding: 0;
            article {
              display: block;
              margin: 0;
              padding: 0;
            }//article
            .slider-title {
              width: 95%;
              padding: 15px 20px 10px 20px;
              background: #000;
              color: #fff;
              font-size: 18px;
              text-transform: uppercase;
              position: absolute;
              bottom: 0px;
              left:0px;
              z-index: 10;
              opacity: .8;
            }
            #slider-arrows {
                #prev-slider {
                    position: absolute;
                    top: 214.5px;
                    left: 0;
                    z-index: 11;
                    line-height: 30px;
                    opacity: .8;
                    width: 40px;
                    height: 40px;
                }

                .prev {
                  background: url(arrows.png) -10px -15px no-repeat;
                }

                #next-slider {
                    position: absolute;
                    top: 214.5px;
                    right: 0;
                    z-index: 11;
                    line-height: 30px;
                    opacity: .8;
                    width: 40px;
                    height: 40px;
                }

                .next {
                  background: url(arrows.png) -102px -15px no-repeat;
                }

            }// slider-arrows

            a   {
              text-decoration: none;
              outline: none;
              border: none;
            }//a
        }//slides
  } //.welcomeSlider
} //welcomeFeatured

aside#welcomeAside {
		margin-left: 3%;
		margin-right: 3%;
		padding-left: -5px;
		text-indent: 5px;
		margin-top: 20px;
		border-bottom: 1px dotted #777c82;
		padding-bottom: 20px;
		h2{
      font-size: 24px;
      font-weight: normal;
      color: #777c82;
      margin-bottom: 0;
			padding-left: 5px;
			text-indent: -4px;
      span {
        color:#333;
        font-weight: bold;
      }//span
    }//h2
    .welcomeMessage {
      margin-top: 0px;

      // border-bottom: 1px dotted #777c82;
      line-height: 30px;
			padding-bottom: .3em;
			padding-top: .3em;

    } //welcomeMessage

}//aside
.welcomeMainContent	{
	width: 960px;

	margin-left: 30px;
	margin-right: 30px;
	overflow: auto;
	header.line {
		border-top: 1px dotted #777c82;
		margin-top: 2em;
	}

	article {
			max-height: 368px;

			div.box:hover {

				.likes {
					color: #e5e5e5;
					i.fa.fa-user {
						color:white;
						a {
							color:white;
						}
					}

					.likes_count {
						color: white;
					}
				.likes-link {
					color: #e5e5e5;
				}
				}
				p	{
					color:#fff;
				}
				h6	{
					color: #e5e5e5;
				}
				background-color: #506b80;
				transition: all .3s ease;
				figure	{
					opacity: .9;
					img {
						border-radius: 3px;
						box-shadow: 1px -1px 12px rgba(255,255,255,.3);
					}
				}
			}

			div.box {
				width: 198px;
				display: inline;
				float: left;
				position: relative;
				margin: 0;
				margin-bottom: 1px;
				margin-left: 1px;
				padding: 20px 20px 0 20px;
				min-height: 280px;
				text-decoration: none;
				background: #000;
				position: relative;
				color: #506b80;
				figure {
					img	{
						border:1px solid #333;
					}
				}//figure


				.likes {
					margin: 0;
					padding:0;
					font-size: 14px;
					i.fa.fa-user {
						color: rgb(53,52,52);
						:hover {
							color: #fff;
						}
						a {
							color: #506b80;
							font-weight: bold;
							:hover {
								color:#fff;
							}

						}
					}
				}


				h4	{
					font-size: 14px;
					height: 15px;
					overflow: hidden;
					margin-top: 0;
					margin-bottom: 10px;
					color: #fff;
				}
				h6	{
					height: 20px;
					overflow: hidden;
					margin: 10px 0 5px 0;
					line-height: 20px;
				}

				p	{
					font-size: 12px;
					color:#777c82;
					text-decoration: none;
					line-height: 21px;
					height: 21px;
					overflow: hidden;
					margin:0 0 15px 0;
				}

			}//a.box

	}//article

	h3.recent-title {
			color:#333;

			font-weight: bold;
			margin-bottom: 15px;
			font-size: 24px;
			a:hover {
				color:red;

				box-shadow: none;
			}
			a	{
				text-transform: uppercase;
			  box-shadow: 0px 0px 70px rgba(0,0,0,.05);
			  /* background-color: transparent; */
			  padding: 5px;
			  border-radius: 3px;


			}
	}//recent-title
}//welcomeMainContent
aside.viewall {
	width: 90%;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  overflow: auto;
	a.button:hover {
		border: 1px solid #777c82;
		background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#AEBDC9));

		font-weight: bold;
		color: #333333;

		text-decoration: none;

	}
	a.button {
		padding: 10px;
	  border: 1px solid #777c82;
	  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
	  font-size: 11px;
	  /* margin: -3px 0 0 0; */
	  font-weight: bold;
	  color: #333;
	  border-radius: 3px;
	  text-decoration: none;
	  float: right;

	}//button
}//aside.viewall
