<div id='locations'></div>


<h1>Search for locations</h1>
<header id="destination">
<input id="enterDBLocation" placeholder="Enter a location" type="text" size="40" onkeydown="acquireDBLocations()"/>
<button id="selectDBLocation">Select Location</button><span id="noResultsMsg">Location not yet in database</span>
</header>
<div style="height:200px;">

</div>
