<header>
  <input id="enterDestination" type="text" size="40" onkeydown="if (event.keyCode == 13) document.getElementById('submitDestination').click()"></textbox>
  <button id="submitDestination">Visit</button>
  <button id="add-marker">Place Marker</button>
  <br><br>
  <input id="enterMovie" placeholder="Enter a movie" type="text" size="40" onkeydown="acquireMovies()"/>
  <button id="confirm-marker">Confirm location</button>
</header>
<body>
  <br>
  <div class="mapBox">
    <div id="mapDestination">
  </div>
</div>
<br>
  <div id='notify'>
  </div>
  <% if @locations.any? %>
    <% @locations.each do |location| %>
      <%= link_to location.address, location_scenes_path(location) %>
      <br>
    <% end %>
  <% else %>
    <h1>No locations yet</h1>
  <% end %>
  <br>


</body>
