<% if @locations.any? %>
  <% @locations.each do |location| %>
    <%= link_to location.name, location_path(location) %>
  <% end %>
<% else %>
  <h1>No locations yet</h1>
<% end %>
<br>
<%= link_to "Add a location", new_location_path %>