<div id='locations'></div>

<h1>Search for locations</h1>
<input id="enterDBLocation" placeholder="Enter a location" type="text" size="40" onkeydown="acquireDBLocations()"/>
<div><button id="selectDBLocation">Select Location</button><span id="noResultsMsg">Location not yet in database</span></div>
